@model PagedViewModel

<nav class="my-3">
    <ul class="flex justify-center">
        <li>
            <a class="mx-1 flex h-9 w-9 items-center justify-center rounded-full border border-blue-gray-100 bg-transparent p-0 text-sm text-blue-gray-500 transition duration-150 ease-in-out @(Model.HasPreviousPage ? "" : "cursor-not-allowed opacity-50 pointer-events-none")"
               asp-if="Model.HasPreviousPage"
               asp-route-page="@(Model.PageNumber - 1)"
               asp-controller="@Model.Controller"
               asp-action="@Model.Action"
               aria-label="Previous">
                <i class="fa-solid fa-arrow-left"></i>
            </a>
        </li>
        @for (int i = Model.PageNumber - 1; i <= Model.PageNumber + 1; i++)
        {
            @if (i >= 1 && i <= Model.TotalPages)
            {
                <li>
                    <a class="mx-1 flex h-9 w-9 items-center justify-center rounded-full bg-pink-500 p-0 text-sm text-white shadow-md transition duration-150 ease-in-out @(i == Model.PageNumber ? "font-bold" : "")"
                       asp-action="@Model.Action" asp-controller="@Model.Controller" asp-route-page="@i">
                        @i
                    </a>
                </li>
            }
        }
        <li>
            <a class="mx-1 flex h-9 w-9 items-center justify-center rounded-full border border-blue-gray-100 bg-transparent p-0 text-sm text-blue-gray-500 transition duration-150 ease-in-out @(Model.HasNextPage ? "" : "cursor-not-allowed opacity-50 pointer-events-none")"
               asp-if="Model.HasNextPage"
               asp-route-page="@(Model.PageNumber + 1)"
               asp-controller="@Model.Controller"
               asp-action="@Model.Action"
               aria-label="Next">
                <i class="fa-solid fa-arrow-right"></i>
            </a>
        </li>
    </ul>
</nav>